/*GENERAL*/

body {
  font-family: "Poppins", sans-serif;
}

/*TEXT AREA*/

#topText {
  font-weight: 200;
}

#bottomText {
  font-weight: 700;
}

#textDiv {
  margin-top: 5%;
  text-align: center;
}

#textDiv p {
  margin-top: 20px;
  font-weight: 200;
  width: 42%;
  position: relative;
  left: 29%;
  color: #acacac;
}

/* BOXES */

#boxContainer {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 85px 85px 85px 85px 85px 85px 85px 85px;
  justify-content: space-around;
}

.boxes {
  width: 95%;
  -webkit-box-shadow: 2px 35px 65px -30px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 2px 35px 65px -30px rgba(0, 0, 0, 0.32);
  box-shadow: 2px 35px 65px -30px rgba(0, 0, 0, 0.32);
  border-radius: 6px;
}

.boxes .container {
  margin-top: 25px;
}

.boxes .container h5 {
  font-size: 1.3em;
  font-weight: 700;
}

.boxes .container p {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 200;
  color: #acacac;
}

.boxes .container img {
  margin: 15px;
  float: right;
}

/* Supervisor box */

#boxLeft {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 6;
  border-top: 4px solid #70dad8;
}

/*Team Builder Box*/

#boxCenterTop {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border-top: 4px solid #e25858;
}

/*Karma Box*/

#boxCenterBottom {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 8;
  border-top: 4px solid #f7c27c;
}

/*Calculator Box*/

#boxRight {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 6;
  border-top: 4px solid #589ce8;
  grid-area: "calculator";
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  /*TEXT AREA*/

  #textDiv {
    margin-top: 75px;
    text-align: center;
  }

  #topText {
    font-size: 30px;
    margin: 2px;
  }

  #bottomText {
    font-size: 29px;
  }

  #textDiv p {
    font-size: 1em;
    font-weight: 200;
    width: 80%;
    position: relative;
    left: 10%;
  }

  .boxes {
    width: 100%;
  }

  #boxContainer {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(12, 14%);
    justify-content: space-around;
  }

  #boxLeft {
    margin-top: 30px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top: 3px solid turquoise;
  }

  #boxLeft .container p {
    font-size: 90%;
  }

  #boxCenterTop {
    margin-top: 30px;
    grid-area: "teamBuilder";
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    border-top: 3px solid red;
  }

  #boxCenterTop .container p {
    font-size: 90%;
  }

  #boxCenterBottom {
    margin-top: 30px;
    grid-area: "karma";
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
    border-top: 3px solid yellow;
  }

  #boxCenterBottom .container p {
    font-size: 90%;
  }

  #boxRight {
    margin-top: 30px;
    grid-area: "caluculator";
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 9;
    border-top: 3px solid blue;
  }

  #boxRight .container p {
    font-size: 90%;
  }

  .attribution {
    margin-top: 150px;
  }
}
